@charset "UTF-8";

/**
 * author: leikai
 * created: 2020/5/26
 * describe: 系统变量
 */

$mainC: #009688;/* 主色 */
$titC: #c33822;/* 登录页面标题色 */
$fontC: #090909;/* 默认字体颜色 */
$bgC: #333;/* 背景色 */
$lineC: #bfbfbf;/* 线条颜色 , 灰色字*/
$rowC: #f5f5f5;/* 隔行变色 */
$navHC: #999999;/* 一级导航hover字体颜色 */
$viewPageBG: #f2f2f2;
$font2: #999999;